<div class="main_wrapper">
  <div class="main_top">
    <p class="room_name">hogefuga</p>
    <div class="top_right">
      <%= link_to "チャットを終了する", root_path,class:"chat_end" %>
    </div>
  </div>
  <div class="main_middle">

    <div class="messages">
      <div class="message">
        <div class="message_top">
          <div class="message_name">
            Tom
          </div>
          <div class="message_date">
            2020/20/20/20:20/20
          </div>
        </div>
        <div class="message_content">
          おはよう
        </div>
      </div>
    </div>

    <div class="messages">
      <div class="message">
        <div class="message_top">
          <div class="message_name">
            Tom
          </div>
          <div class="message_date">
            2020/20/20/20:20/20
          </div>
        </div>
        <div class="message_content">
          おはよう
        </div>
      </div>
    </div>

  </div>
  <div class="main_bottom">
    <%= form_with model: [@room,@message], html: {class:"form"},local:true do |f| %>
      <div class="form-input">
        <%= f.text_field :content,class:"form-message",placeholder:"type a messgae" %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image,class:"hidden" %>
        </label>
      </div>
      <%= f.submit "送信", class:"form-submit"%>
    <% end %>
  </div>
</div>